header {
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.hidden-top {
  height: 48px;
  background-color: #fefefe;
}

.hidden-left img {
  height: 48px;
}

.hidden-right button {
  width: 46px;
  height: 48px;
  border-left: 1px inset #f8f8ff;
  border-right: 1px inset #f8f8ff;
  background-color: #f8f8ff;
  opacity: 0.5;
}

header nav:nth-child(3) ul li button {
  width: 50px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: #f8f8ff;
  border: none;
  border-left: 1px inset #919191;
  opacity: 0.25;
}

.hidden-right button:hover {
  opacity: 1;
  cursor: pointer;
}

.hidden-right img {
  width: 16px;
}

/* second nav */

header nav:nth-child(2) {
  background-color: black;
}

.title-logo-bottom,
.cover a {
  font-family: maquette, Arial, serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #919191;
}

header nav:last-child p a {
  font-family: maquette, Arial, serif;
  display: block;
  padding: 0 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: black;
}

header nav:nth-child(2) ul li a {
  font-family: maquette, Arial, serif;
  display: block;
  text-align: center;
  padding: 0 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  color: #919191;
}

header nav:nth-child(2) ul:first-child {
  margin-left: 20px;
}

header nav:nth-child(2) ul:last-child {
  margin-right: 20px;
}

header nav:nth-child(2) ul li a:hover {
  color: white;
}

/* third nav */

header nav:nth-child(3) {
  background-color: #fefefe;
  height: 40px;
}

.title-logo-bottom-right img {
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  vertical-align: middle;
}

header nav:nth-child(3) ul li a:not(.last) {
  font-family: shentox, serif;
  display: block;
  text-align: center;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #919191;
}

header nav:nth-child(3) ul:first-child {
  margin-left: 20px;
}

header nav:nth-child(3) ul li a:hover {
  color: black;
}

header nav:nth-child(3) ul li button:hover {
  opacity: 1;
  cursor: pointer;
}

.title-logo-bottom img {
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  vertical-align: middle;
}

header nav:nth-child(3) ul li img {
  width: 20px;
}

/* last menu */

header nav:last-child {
  background-color: rgb(255, 221, 51);
  height: 24px;
}

header nav:last-child p {
  margin-left: 20px;
}

@media (max-width: 768px) {
  header nav:last-child {
    height: 50px;
  }

  header nav:last-child p {
    margin: auto;
  }
}

/* main */
main {
  padding-top: 100px;
}

@media (max-width: 768px) {
  main {
    padding-top: 70px;
  }
}

.cover-left {
  background:
    linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("../img/cover-left.jpg");
  margin-left: 7px;
  max-height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-left:hover {
  background:
    linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url("../img/cover-left.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 2s;
}

.logo-container {
  width: 95%;
  margin-left: 20px;
  margin-top: 10px;
}

.logo {
  width: 50%;
  max-width: 200px;
  height: auto;
}

.date {
  font-family: maquette, Arial, sans-serif;
  display: block;
  text-align: center;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
}

.description {
  width: 90%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.title-logo {
  font-family: Avalon, Arial, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.cover-right {
  margin-right: 10px;
}

.cover-right-top {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../img/cover-right-top.png");
  height: 215px;
  margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-right-top:hover {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../img/cover-right-top.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  color: grey;
}

.description-right {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.title-logo-bottom-right {
  font-family: maquette, Arial, serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #919191;
}

.cover-right-bottom {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../img/cover-right-bottom.jpg");
  height: 220px;
  margin-top: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-right-bottom:hover {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("../img/cover-right-bottom.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .cover-right,
  .cover-left {
    margin-right: 10px;
    margin-left: 10px;
  }

  .cover-left,
  .cover-right-top,
  .cover-right-bottom {
    height: 100px;
  }

  .cover-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

/* latest news */

.latest-new-header {
  color: rgb(255, 68, 34);
  font-family: Avalon, Arial, sans-serif;
  font-weight: 700;
}

.latest-new-header a {
  color: rgb(255, 68, 34);
}

.latest-new-header a:hover {
  color: black;
}
